@media (min-width: $screen-lg-min) {
  .js-prd-carousel-vert {
    & > * {
      display: none;
    }
    & > *:nth-child(-n + 2) {
      display: block;
    }
    &.slick-initialized {
      & > * {
        display: block;
      }
    }
  }
}
@media (max-width: $screen-md-max) {
  .js-prd-carousel-vert {
    & > *:not(:first-child) {
      display: none;
    }
    &.slick-initialized {
      & > * {
        display: block;
      }
    }
  }
}
.js-product-main-carousel:not(.slick-initialized) > div {
  display: none;
}
.js-product-main-carousel:not(.slick-initialized) > div:first-child {
  display: block;
}