.bnr {
  &.bnr--left {
    text-align: left;
  }
  &.bnr--right {
    text-align: right;
  }
  &.bnr--center {
    text-align: center;
  }
}
.bnr.bnr--fullwidth {
  &.bnr--left .bnr-caption {
    align-items: flex-end;
  }
  &.bnr--right .bnr-caption {
    align-items: flex-start;
  }
}

.bnr-categories-list {
  li:before {
    margin: 0 0 0 10px;
  }
}