
.brand-prd-image {
  @media (min-width: $screen-md-min) {
    float: right;
  }
}
.brand-prd-info {
  float: right;
  .inside {
    @media (max-width: $screen-lg-max) {
      padding: 15px 30px 15px 40px
    }
  }
}
@media (min-width: $screen-md-min) {
  .aside .brand-prd-carousel.vert-dots .slick-dots {
    left: 16px;
    right: 0;
  }
}