.hdr-style7 {
  .mmenu {
    text-align: right;
  }
  .justify-content-end .mmenu {
    text-align: left;
  }
  .justify-content-start .mmenu {
    text-align: right;
  }
  .hdr-inline-link:last-child {
    margin-left: 0;
    margin-right: auto;
  }
}