.person-item-info {
  padding: 17px 40px 17px 17px;
  @media (max-width: $screen-xl-max) {
    padding: 17px 30px 17px 17px;
  }
  @media (max-width: $screen-lg-max) {
    padding: 15px 25px 15px 15px;
  }
}