.review-write-link {
  [class*='icon'] {
    padding-right: 0;
    padding-left: 6px;
    float: right;
  }
}
.review-item_top {
  & > *:last-child:not(:only-child) {
    margin-left: 0;
    margin-right: auto;
  }
}
.review-item_rating {
  span:not(:first-child) {
    padding-right: 5px;
    padding-left: 0;
  }
}