@media (min-width: $screen-lg-min) {
  body:not(.has-sm-container) .aside--left {
    padding-right: 15px;
    padding-left: 45px;
  }
  body:not(.has-sm-container) .aside--right {
    padding-right: 45px;
    padding-left: 15px;
  }
}