.holder-subscribe-full {
  .subscribe-form-title-lg {
    margin-right: -.05em;
    margin-left: 0;
  }
  .form-control-wrap {
    margin-right: 100px;
    margin-left: 30px;
    @media (max-width: $screen-xl-max) {
      margin-right: 60px;
      margin-left: 30px;
    }
    @media (max-width: $screen-lg-max) {
      margin-right: 30px;
      margin-left: 30px;
    }
    @media (max-width: $screen-md-max) {
      margin-right: 0;
      margin-left: 10px;
    }
    @media (max-width: $screen-sm-max) {
      margin-left: 0;
    }
  }
  .form-control-wrap svg,
  .form-control-wrap svg rect {
    right: 0;
    left: auto;
  }
}
.newsletter-form-title-lg {
  margin-right: -.05em;
  margin-left: 0;
}
.newsletter-form {
  .form-control-wrap {
    margin-right: 0;
    margin-left: 30px;
    @media (max-width: $screen-md-max) {
      margin-left: 10px;
      margin-right: 0;
    }
    @media (max-width: $screen-sm-max) {
      margin-left: 0;
    }
  }
}
.popup-newsletter-close {
  right: auto;
  left: 15px;
}
